@font-face {
  font-family: Precious;
  src: url(https://www.1001fonts.com/wedding+cursive+elegant-fonts.html);
}
#story {
  display: block;
  height: 460px;
  margin: auto;
  width: 345px;
}
a,
a:visited {
  color: white;
  text-decoration: none;
  transition: 200ms;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
  text-shadow: black 10px 10px 20px;
}
body {
  background-image: url(javyson/black-star-background-1024x768.jpg);
  background-size: cover;
  font-family: Italianno;
  text-align: center;
}
h1 {
  color: white;
  font-size: 50px;
}
h1,
h4 {
  padding-top: 40px;
  padding-bottom: 40px;
  text-shadow: black 40px 10px 10px;
}
h4 {
  font-size: 40px;
}
img {
  align-content: center;
  border-radius: 20px;
  box-shadow: 5px 5px 80px grey;
  margin: auto;
  position: center;
}
