@font-face {
  font-family: Precious;
  src: url(https://www.1001fonts.com/wedding+cursive+elegant-fonts.html);
}

.container,
html {
  background-attachment: fixed;
  background-image: url(happy-allyson.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 80px grey;
  height: 100%;
  width: 100%;
}
a,
a:visited {
  color: white;
  text-decoration: none;
  transition: 200ms;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
  text-shadow: black 10px 10px 20px;
}
body {
  background-image: url(black-star-background-1024x768.jpg);
  background-size: cover;
  font-family: Italianno;
  text-align: center;
}
h1 {
  color: white;
  font-size: 50px;
}
h1,
h4 {
  padding-top: 40px;
  padding-bottom: 40px;
  text-shadow: black 40px 10px 10px;
}
h4 {
  font-size: 40px;
}
