@font-face {
  font-family: Precious;
  src: url(https://www.1001fonts.com/wedding+cursive+elegant-fonts.html);
}
#header {
  margin: auto;
  padding-bottom: 10px;
  padding-top: 20px;
  text-align: center;
}

.bg,
html {
  background-attachment: fixed;
  background-image: url("knee.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 60px grey;
  height: 100%;
}
.overlay {
  opacity: 0;
  transition: 400ms ease;
}
.overlay:hover {
  opacity: 1;
}
a,
a:visited {
  color: white;
  font-family: Italianno;
  font-size: 40px;
  text-decoration: none;
  text-shadow: grey 0.1em 0.1em 0.2em;
  transition: 200ms ease;
}
a:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-shadow: white 0.1em 0.1em 0.2em;
}
body {
  background-attachment: fixed;
  background-image: url(black-star-background-1024x768.jpg);
  background-size: cover;
  font-family: "Italianno", cursive;
  height: 100%;
  margin: 0;
}
h1 {
  font-family: Precious;
  font-size: 3em;
  line-height: 80px;
}
h1,
h4 {
  color: white;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: grey 0.1em 0.1em 0.2em;
}

h4 {
  font-size: 50px;
}
