#HCB_comment_box {
  display: block;
  height: 250px;
  margin: auto;
  max-width: 250px;
}
#HCB_comment_box .submit {
  background: none; /* Clear twitter bootstrap style. */
  background-color: blue;
  border: 1px solid darkblue;
  color: white;
}
.wholePage {
  margin: auto;
  padding-bottom: 60px;
  padding-top: 20px;
}
body {
  background-color: black;
  color: white;
  font-family: "Sansita Swashed", cursive;
}
button {
  border-radius: 20px;
  color: black;
  display: block;
  font-family: "Sansita Swashed", cursive;
  font-size: 20px;
  margin-top: 15px;
  padding: 10px 20px;
  text-shadow: #f5e29682 0.2em 0.2em 0.2em;
}
button:hover {
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}
h1 {
  color: white;
  text-align: center;
}
img {
  border-color: ivory;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  display: block;
  margin: auto;
  max-width: 400px;
}
